/**
 * Colors
 */

$colorValues = {
  black:          #000,
  white:          #fff
}

$colorUseCases = {
  foreground:     $colorValues.black,
  background:     $colorValues.white,
  link:           $colorValues.black,
  linkActive:     $colorValues.black
}

$colors = $colorUseCases
