@require 'global-colors'

/**
 * Typo
 */

$fontFamily = {
  system: "-apple-system"\, "system-ui"\, "Segoe UI"\, Helvetica\, Arial\, sans-serif\, "Apple Color Emoji"\, "Segoe UI Emoji"\, "Segoe UI Symbol",
  systemMonospace: SFMono-Regular\, Consolas\, "Liberation Mono"\, Menlo\, Courier\, monospace,
}

$fontFamily.default = $fontFamily.system
$fontFamily.monospace = $fontFamily.systemMonospace


/**
 * Constants
 */

$pi = 3.14159265
$phi = 1.61803398
$sqrt2 = 1.41421356

/**
 * Z-Index
 */

$zIndex = {
}
